h1, h2 {
    color: #D5470D;
    text-align: center;
}
html {
    /*background-color: #1C0E1C; */
}
h3, h4 {
    color: #351111;
    text-align: center;
}
img {
    align-self: auto;
    align-items: center;
    align-self: center;
}
th {
    align-content: center;
}
footer {
    background-color: white;
    color: #150F0F;
    align-content: center;
    text-align: center;
    padding-top: 1.5rem!important;
    padding: 10px;
}
a {
    color: #3A209F;
}
p {
    text-indent: 2.0em;  
}
#foot {
    background-color: royalblue;
    margin : 5px;
}
.p_text {
    font-family: Arial, Helvetica;
}

